<div class="row" id="spy2">
    <!-- Chart with filter Widget -->
    <div class="col-md-12 admin-grid">
        <div class="panel" id="p2">
            <div class="panel-heading">
                <span class="panel-icon"><span class="glyphicons glyphicons-shield"></span></span>
                <span class="panel-title">เปลี่ยนรหัสผ่าน</span>
                <span class="panel-controls">
                    <a href="#" class="panel-control-loader"></a>
                    <a href="#" class="panel-control-remove"></a>
                    <a href="#" class="panel-control-collapse"></a>
                    <a href="#" class="panel-control-fullscreen"></a>
                </span>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" id="fmChgpassword">
                    <div class="p15 pt5 mt15">
                        <div class="row">
                            <div class="col-md-8">
                                <!-- Start -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label required" for="userid">User Id</label>
                                    <div class="col-md-8">
                                        <div class="bs-component">
                                            <input type="text" style="text-transform: uppercase" id="userid" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label required" for="oldpassword">Old Password</label>
                                    <div class="col-md-8">
                                        <div class="bs-component">
                                            <input type="password" id="oldpassword" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label required" for="newpassword">New Password</label>
                                    <div class="col-md-8">
                                        <div class="bs-component">
                                            <input type="password" id="newpassword" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label required" for="confirmpass">Confirm Password</label>
                                    <div class="col-md-8">
                                        <div class="bs-component">
                                            <input type="password" id="confirmpass" />
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" id="validecolortrn" value="true">
                            </div>
                            <div class="col-md-4">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="col-md-4 control-label"></label>
                                    <div class="col-md-8">
                                        <div class="bs-component">
                                            <button type="button" id="newBtn"><span class="fa fa-refresh"></span> เริ่มใหม่</button>
                                            <button type="button" id="saveBtn"><span class="fa fa-floppy-o"></span> บันทึก</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end: .col-md-12.admin-grid -->
</div>
<!-- end: .row -->
<script type="text/javascript">
    $(document).ready(function() {
        //Default status Insert
        var status = 'insert';
        //เช็คสิทธิการใช้งาน
        var chkright = checkRight('ADMIN002');
        //ฟังก์ชั่น สถานะ Insert หรือ Edit
        function statusChange(disabled) {
            if (disabled === false) {
                status = 'insert';
                $('#userid').val('');
                $('#oldpassword').val('');
                $('#newpassword').val('');
                $('#confirmpass').val('');
            } else {
                status = 'update';
                $("#saveBtn").jqxButton({
                    disabled: !chkright.M_EDIT
                });
            }
        }

        //เงื่อนไข validate Change Password
        var rules = [{
            input: '#userid',
            message: 'กรุณาระบุ User Id!',
            action: 'keyup, blur',
            rule: 'required'
        }, {
            input: '#userid',
            message: 'ไม่พบ User Id นี้!',
            action: 'keyup, blur, focusout',
            rule: function (input, commit) {
                var userid = $('#userid').val().toUpperCase();
                if (userid !== '') {
                    var result = [];
                    $.ajax({
                        async: false,
                        url: "duplicateCheck",
                        type: 'get',
                        data: {
                            table: 'PASSWRD',
                            field: 'USERID',
                            value: userid
                        },
                        success: function (data) {
                            if (data === true) {
                                result = false;
                            } else {
                                result = true;
                            }
                        },
                        error: function () {
                            result = false;
                        }
                    });
                    return result;
                } else {
                    return true;
                }
            }
        }, {
            input: '#oldpassword',
            message: 'กรุณาระบุรหัสผ่านเดิม!',
            action: 'keyup, blur, focusout',
            rule: 'required'
        }, {
            input: '#newpassword',
            message: 'กรุณาระบุรหัสผ่านใหม่!',
            action: 'keyup, blur, focusout',
            rule: 'required'
        }, {
            input: '#confirmpass',
            message: 'กรุณาระบุยืนยันรหัสผ่านใหม่!',
            action: 'keyup, blur, focusout',
            rule: 'required'
        }, {
            input: '#confirmpass',
            message: 'ยืนยันรหัสผ่านใหม่ไม่ตรงกัน!',
            action: 'keyup, blur, focusout',
            rule: function (input, commit) { 
                if (input.val() === $('#newpassword').val()) {
                    return true;
                }
                return false;
            }
        }];

        $('.admin-panels').adminpanel({
            grid: '.admin-grid',
            callback: function() {
                bootbox.confirm('<h3>A Custom Callback!</h3>', function() {});
            },
            onFinish: function() {
                $('.admin-panels').addClass('animated fadeIn').removeClass('fade-onload');
                demoHighCharts.init();
            },
            onSave: function() {
                $(window).trigger('resize');
            }
        });
        $("#userid").jqxInput({
            placeHolder: "Enter User Id",
            height: 25,
            width: '100%',
            maxLength: 8
        });
        $("#oldpassword").jqxPasswordInput({ 
            placeHolder: "Enter Old Password",
            height: 25,
            width: '100%',
            maxLength: 8
        });
        $("#newpassword").jqxInput({
            placeHolder: "Enter New Password",
            height: 25,
            width: '100%',
            maxLength: 8
        });
        $("#confirmpass").jqxInput({
            placeHolder: "Enter Confirm Password",
            height: 25,
            width: '100%',
            maxLength: 8
        });

        $("#newBtn").jqxButton({
            template: "info",
            width: 90
        });
        $("#saveBtn").jqxButton({
            template: "primary",
            width: 90,
            disabled: !chkright.M_INSERT
        });
        $('#fmChgpassword').jqxValidator({
            hintType: 'label',
            animationDuration: 0,
            closeOnClick: false,
            rules: rules
        });
        //เริ่มใหม่
        $('#newBtn').off().on('click', function() {
            loadHTML("admin_changepassword");
        });
        //บันทึก
        $('#saveBtn').off().on('click', function() {
            $('#fmChgpassword').jqxValidator('validate', function(result) {
                if (result) {
                    $.when($.confirmdlg('ต้องการบันทึกข้อมูล?', 'info')).then(function() {
                        var valueJSON = [{
                            status: status,
                            locat: $.session.get('locatcd'),
                            table: 'PASSWRD',
                            key: $('#userid').val().toUpperCase(),
                            value: [{
                                USERID: $('#userid').val().toUpperCase(),
                                OLDPASSWD: $('#oldpassword').val(),
                                NEWPASSWORD: $('#newpassword').val(),
                                CONFIRMPASS: $('#confirmpass').val()
                            }]
                        }];
                        // Convert Value To JSON String
                        var value = JSON.stringify(valueJSON);
                        $('#ok').click(function(event) {
                            $.ajax({
                                url: 'saveChqpassword',
                                type: 'POST',
                                contentType: "application/json",
                                dataType: "json",
                                data: value,
                                success: function (data) {
                                    //console.log(data);
                                    if (data[0].save === true) {
                                        ShowMessage("บันทึกข้อมูลเรียบร้อย!", "success");
                                        statusChange(true);
                                    } else {
                                        ShowMessage("บันทึกไม่สำเร็จ รหัสผ่านเดิมไม่ถูกต้อง!", "danger");
                                    }
                                },
                                error: function (xhr, status, error) {
                                    ShowMessage("บันทึกไม่สำเร็จ! ", "danger");
                                }
                            });
                        });
                    });
                }
            });
        });
    });
</script>