<div class="row" id="spy2">
    <!-- Chart with filter Widget -->
    <div class="col-md-12 admin-grid">
        <div class="panel" id="p2">
            <div class="panel-heading">
                <span class="panel-icon"><span class="glyphicons glyphicons-imac"></span></span>
                <span class="panel-title">กำหนดรหัสพนักงาน</span>
                <span class="panel-controls">
                    <a href="#" class="panel-control-loader"></a>
                    <a href="#" class="panel-control-remove"></a>
                    <a href="#" class="panel-control-collapse"></a>
                    <a href="#" class="panel-control-fullscreen"></a>
                </span>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" id="fmDivision">
                    <div class="p15 pt5 mt15">
                        <div class="row">
                            <div class="col-md-8">
                                <!-- Start -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label required" for="code">รหัสพนักงาน</label>
                                    <div class="col-md-8">
                                        <div class="bs-component">
                                            <input type="text" id="code" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">ชื่อพนักงาน</label>
                                    <div class="col-md-8">
                                        <div class="bs-component">
                                            <input type="text" id="name" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="surname">นามสกุล</label>
                                    <div class="col-md-8">
                                        <div class="bs-component">
                                            <input type="text" id="surname" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="addr">ที่อยุ่</label>
                                    <div class="col-md-8">
                                        <div class="bs-component">
                                            <input type="text" id="addr" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="telp">เบอร์โทร</label>
                                    <div class="col-md-8">
                                        <div class="bs-component">
                                            <input type="text" id="telp" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="workdt">วันที่เริ่มงาน</label>
                                    <div class="col-sm-8">
                                        <div class="bs-component">
                                            <div id="workdt"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="expire">วันที่ลาออก</label>
                                    <div class="col-sm-8">
                                        <div class="bs-component">
                                            <div id="expire"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="status">สถานะภาพ</label>
                                    <div class="col-md-8">
                                        <div class="bs-component">
                                            <div id='status'></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="statsale">สถานะพนักงานขาย</label>
                                    <div class="col-md-8">
                                        <div class="bs-component">
                                            <div id='statsale' style='margin-left: 10px; float: left;'><span>ไม่เป็นพนักงานขาย</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label"></label>
                                    <div class="col-md-8">
                                        <div class="bs-component">
                                            <button type="button" id="newBtn"><span class="fa fa-refresh"></span> เริ่มใหม่</button>
                                            <button type="button" id="saveBtn"><span class="fa fa-floppy-o"></span> บันทึก</button>
                                            <button type="button" id="searchBtn"><span class="fa fa-search"></span> ค้นหา</button>
                                            <button type="button" id="deleteBtn"><span class="fa fa-trash-o"></span> ลบ</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end: .col-md-12.admin-grid -->
</div>
<!-- end: .row -->
<script type="text/javascript">
    $(document).ready(function() {
        //Default status Insert
        var status = 'insert';
        //เช็คสิทธิการใช้งาน
        var chkright = [];
        var value = JSON.stringify([{
            menucode: 'SET706',
            userid: $.session.get('username')
        }]);
        $.ajax({
            async: false,
            url: "checkright",
            contentType: "application/json",
            dataType: 'json',
            type: 'POST',
            data: value,
            success: function(data) {
                chkright = data[0];
                if (chkright.M_ACCESS === 'Y') {
                    chkright.M_ACCESS = true
                } else {
                    chkright.M_ACCESS = false
                }
                if (chkright.M_DELETE === 'Y') {
                    chkright.M_DELETE = true
                } else {
                    chkright.M_DELETE = false
                }
                if (chkright.M_EDIT === 'Y') {
                    chkright.M_EDIT = true
                } else {
                    chkright.M_EDIT = false
                }
                if (chkright.M_INSERT === 'Y') {
                    chkright.M_INSERT = true
                } else {
                    chkright.M_INSERT = false
                }
            }
        });
        //ฟังก์ชั่น สถานะ Insert หรือ Edit
        function statusChange(disabled) {
            if (disabled === false) {
                status = 'insert';
                $('#code').val('');
                $('#name').val('');
                $('#surname').val('');
                $('#addr').val('');
                $('#telp').val('');
                $('#workdt').val('');
                $('#expire').val('');
                $('#status').val('Y');
                $('#statsale').val(false);
            } else {
                status = 'update';
            }
            $('#code').jqxInput({
                disabled: disabled
            });
            $("#deleteBtn").jqxButton({
                disabled: !disabled
            });
        }

        var rules = [{
            input: '#code',
            message: 'กรุณาระบุรหัสพนักงาน!',
            action: 'keyup, blur',
            rule: 'required'
        }, {
            input: '#code',
            message: 'ระบุรหัสพนักงานซ้ำ!',
            action: 'keyup, blur',
            rule: function(input, commit) {
                var code = $('#code').val();
                if (code !== '') {
                    var result = [];
                    $.ajax({
                        async: false,
                        url: "duplicateCheck",
                        type: 'get',
                        data: {
                            table: 'OFFICER',
                            field: 'CODE',
                            value: code
                        },
                        success: function (data) {
                            if (data === true) {
                                result = false;
                            } else {
                                result = true;
                            }
                        },
                        error: function () {
                            result = false;
                        }
                    });
                    return result;
                } else {
                    return true;
                }
            }
        }];

        var statusData = [{
                value: "Y",
                label: "เป็นพนักงาน"
            }, {
                value: "N",
                label: "ลาออก"
            }, 
        ];
        var statusSource = {
            datatype: "array",
            datafields: [{
                name: 'label',
                type: 'string'
            }, {
                name: 'value',
                type: 'string'
            }],
            localdata: statusData
        };
        var statusAdapter = new $.jqx.dataAdapter(statusSource);
        $('.admin-panels').adminpanel({
            grid: '.admin-grid',
            callback: function() {
                bootbox.confirm('<h3>A Custom Callback!</h3>', function() {});
            },
            onFinish: function() {
                $('.admin-panels').addClass('animated fadeIn').removeClass('fade-onload');
                demoHighCharts.init();
            },
            onSave: function() {
                $(window).trigger('resize');
            }
        });

        $("#code").jqxInput({
            placeHolder: "Enter a code",
            height: 25,
            width: '100%',
            maxLength: 8
        });
        $("#name").jqxInput({
            placeHolder: "Enter a name",
            height: 25,
            width: '100%',
            maxLength: 50
        });
        $("#surname").jqxInput({
            placeHolder: "Enter a surname",
            height: 25,
            width: '100%',
            maxLength: 50
        });
        $("#addr").jqxInput({
            placeHolder: "Enter a address",
            height: 25,
            width: '100%',
            maxLength: 80
        });
        $("#telp").jqxInput({
            placeHolder: "Enter a telephone",
            height: 25,
            width: '100%',
            maxLength: 20
        });
        $("#workdt").jqxDateTimeInput({
            height: 25,
            width: '100%',
            culture: 'en-US'
        });
        $("#expire").jqxDateTimeInput({
            height: 25,
            width: '100%',
            culture: 'en-US'
        });
        $("#status").jqxDropDownList({
            selectedIndex: 0,
            source: statusAdapter,
            displayMember: "label",
            valueMember: "value",
            height: 25,
            width: '100%',
            dropDownHeight: 52,
            placeHolder: "เลือก :"
        });
        $("#statsale").jqxCheckBox({
            width: 200,
            height: 25,
            checked: false
        });
        $("#statsale").on('change', function(event) {
            var checked = event.args.checked;
            if (checked) {
                $("#statsale").find('span')[1].innerHTML = 'เป็นพนักงานขาย';
            } else {
                $("#statsale").find('span')[1].innerHTML = 'ไม่เป็นพนักงานขาย';
            }
        });

        $("#newBtn").jqxButton({
            template: "info",
            width: 90
        });
        $("#saveBtn").jqxButton({
            template: "primary",
            width: 90
        });
        $("#searchBtn").jqxButton({
            template: "success",
            width: 90
        });
        $("#deleteBtn").jqxButton({
            disabled: true,
            template: "danger",
            width: 90
        });

        $('#fmDivision').jqxValidator({
            hintType: 'label',
            animationDuration: 0,
            closeOnClick: false,
            rules: rules
        });
        //เริ่มใหม่
        $('#newBtn').off().on('click', function() {
            loadHTML("set_officer");
        });
        //บันทึก
        $('#saveBtn').off().on('click', function() {
            $('#fmDivision').jqxValidator('validate', function(result) {
                if (result) {
                    $.when($.confirmdlg('ต้องการบันทึกข้อมูล?', 'info')).then(function() {
                        var workdate = $("#workdt").jqxDateTimeInput('getDate');
                        var expiredate = $("#expire").jqxDateTimeInput('getDate');
                        var currentCulture = Globalize.cultures['en-US'];
                        var localizationObject = currentCulture.calendar;
                        var workdt = $.jqx.dataFormat.formatdate(workdate, "dd/MM/yyyy",localizationObject);
                        var expire = null;
                        if (expiredate === null) {
                            expire = null;
                        } else {
                            expire = $.jqx.dataFormat.formatdate(expiredate, "dd/MM/yyyy",localizationObject);
                        }
                        var valueStatsale = '';
                        if ($("#statsale").val() === true) {
                            valueStatsale = 'Y';
                        } else {
                            valueStatsale = 'N';
                        }

                        var valueJSON = [{
                            status: status,
                            table: 'OFFICER',
                            field: 'CODE',
                            key: $('#code').val(),
                            value: [{
                                CODE: $('#code').val(),
                                NAME: $('#name').val(),
                                SURNAME: $('#surname').val(),
                                ADDR: $('#addr').val(),
                                TELP: $('#telp').val(),
                                WORKDT: workdt,
                                EXPIRE: expire,
                                STATUS: $('#status').val(),
                                STATSALE: valueStatsale
                            }]
                        }];
                        //valueJSON.push();
                        // Convert Value To JSON String
                        var value = JSON.stringify(valueJSON);
                        //console.log(value);
                        $('#ok').click(function(event) {
                            $.ajax({
                                url: 'saveOfficer',
                                type: 'POST',
                                contentType: "application/json",
                                dataType: "json",
                                data: value,
                                success: function(data) {
                                    if (data[0].save === true) {
                                        ShowMessage("บันทึกข้อมูลเรียบร้อย!", "success");
                                        statusChange(false);
                                    } else {
                                        ShowMessage("บันทึกไม่สำเร็จ!", "danger");
                                    }
                                }
                            });
                        });
                    });
                }
            });
        });
        //ค้นหา
        $('#searchBtn').off().on('click', function() {
            //Show Dialog Search
            searchAll('officer', 'code');
            $('#okButton').on('click', function() {
                statusChange(true);
                $.ajax({
                    async: false,
                    method: 'GET',
                    dataType: 'json',
                    url: "sqltext",
                    data: {
                        sql: "SELECT * FROM OFFICER WHERE CODE = '" + $('#code').val() + "' "
                    },
                    success: function(data) {
                        $('#name').val(data[0].NAME);
                        $('#surname').val(data[0].SURNAME);
                        $('#addr').val(data[0].ADDR);
                        $('#telp').val(data[0].TELP);
                        $('#workdt').val(data[0].WORKDT);
                        $('#expire').val(data[0].EXPIRE);
                        $('#status').val(data[0].STATUS);
                        if (data[0].STATSALE === 'Y') {
                            $('#statsale').val(true);
                        } else {
                            $('#statsale').val(false);
                        }
                    }
                });
            });
        });
        //ลบ
        $('#deleteBtn').off().on('click', function() {
            $.when($.confirmdlg('ต้องการลบข้อมูล?', 'warning')).then(function() {
                $('#ok').click(function(event) {
                    var valueJSON = [{
                        table: 'OFFICER',
                        field: 'CODE',
                        key: $('#code').val(),
                    }];
                    // Convert Value To JSON String
                    var value = JSON.stringify(valueJSON);
                    $.ajax({
                        async: false,
                        method: 'POST',
                        dataType: 'json',
                        url: "delete",
                        data: value,
                        success: function(data) {
                            if (data === true) {
                                ShowMessage("ลบข้อมูลเรียบร้อย!", "success");
                                statusChange(false);
                            }
                        },
                        error: function(xhr, status, error) {
                            ShowMessage("ลบข้อมูลไม่สำเร็จ! ", "danger");
                        }
                    });
                });
            });
        });
    });
</script>