<div class="row" id="spy2">
    <!-- Chart with filter Widget -->
    <div class="col-md-12 admin-grid">
        <div class="panel" id="p2">
            <div class="panel-heading">
                <span class="panel-icon"><span class="glyphicons glyphicons-imac"></span></span>
                <span class="panel-title">กำหนดรหัสบัญชีธนาคาร</span>
                <span class="panel-controls">
                    <a href="#" class="panel-control-loader"></a>
                    <a href="#" class="panel-control-remove"></a>
                    <a href="#" class="panel-control-collapse"></a>
                    <a href="#" class="panel-control-fullscreen"></a>
                </span>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" id="fmBankbook">
                    <div class="p15 pt5 mt15">
                        <div class="row">
                            <div class="col-md-8">
                                <!-- Start -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label required" for="bankbookcod">รหัส</label>
                                    <div class="col-md-8">
                                        <div class="bs-component">
                                            <input type="text" id="bankbookcod" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label required" for="bankcod">ธนาคาร</label>
                                    <div class="col-md-8">
                                        <div class="bs-component">
                                            <div id="bankcod" class="input-button">
                                                <input type="text" id="v-bankcod" />
                                                <div id="searchBankcod"><img alt="search" width="20" height="20" src="/images/search_lg.png" /></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label required" for="bankloccod">สาขา</label>
                                    <div class="col-md-8">
                                        <div class="bs-component">
                                            <div id="bankloccod" class="input-button">
                                                <input type="text" id="v-bankloccod" />
                                                <div id="searchBankloccod"><img alt="search" width="20" height="20" src="/images/search_lg.png" /></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label required" for="bookno">เลขที่บัญชีธนาคาร</label>
                                    <div class="col-md-8">
                                        <div class="bs-component">
                                            <input type="text" id="bookno" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="booknam">ชื่อบัญชี</label>
                                    <div class="col-md-8">
                                        <div class="bs-component">
                                            <input type="text" id="booknam" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label required" for="booktypcod">ประเภทบัญชี</label>
                                    <div class="col-md-8">
                                        <div class="bs-component">
                                            <div id="booktypcod" class="input-button">
                                                <input type="text" id="v-booktypcod" />
                                                <div id="searchBkbooktyp"><img alt="search" width="20" height="20" src="/images/search_lg.png" /></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="accmstcod">รหัสบัญชี</label>
                                    <div class="col-md-8">
                                        <div class="bs-component">
                                            <div id="accmstcod" class="input-button">
                                                <input type="text" id="v-accmstcod" />
                                                <div id="searchAccmst"><img alt="search" width="20" height="20" src="/images/search_lg.png" /></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label"></label>
                                    <div class="col-md-8">
                                        <div class="bs-component">
                                            <button type="button" id="newBtn"><span class="fa fa-refresh"></span> เริ่มใหม่</button>
                                            <button type="button" id="saveBtn"><span class="fa fa-floppy-o"></span> บันทึก</button>
                                            <button type="button" id="searchBtn"><span class="fa fa-search"></span> ค้นหา</button>
                                            <button type="button" id="deleteBtn"><span class="fa fa-trash-o"></span> ลบ</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end: .col-md-12.admin-grid -->
</div>
<!-- end: .row -->
<script type="text/javascript">
    $(document).ready(function() {
        //Default status Insert
        var status = 'insert';
        //เช็คสิทธิการใช้งาน
        var chkright = [];
        var value = JSON.stringify([{
            menucode: 'SET504',
            userid: $.session.get('username')
        }]);
        $.ajax({
            async: false,
            url: "checkright",
            contentType: "application/json",
            dataType: 'json',
            type: 'POST',
            data: value,
            success: function(data) {
                chkright = data[0];
                if (chkright.M_ACCESS === 'Y') {
                    chkright.M_ACCESS = true
                } else {
                    chkright.M_ACCESS = false
                }
                if (chkright.M_DELETE === 'Y') {
                    chkright.M_DELETE = true
                } else {
                    chkright.M_DELETE = false
                }
                if (chkright.M_EDIT === 'Y') {
                    chkright.M_EDIT = true
                } else {
                    chkright.M_EDIT = false
                }
                if (chkright.M_INSERT === 'Y') {
                    chkright.M_INSERT = true
                } else {
                    chkright.M_INSERT = false
                }
            }
        });
        //ฟังก์ชั่น สถานะ Insert หรือ Edit
        function statusChange(disabled) {
            if (disabled === false) {
                status = 'insert';
                $('#bankcod').val('');
                $('#bankbookcod').val('');
                $('#bookno').val('');
                $('#booknam').val('');
                $('#bankloccod').val('');
                $('#booktypcod').val('');
                $('#accmstcod').val('');
            } else {
                status = 'update';
                $("#saveBtn").jqxButton({
                    disabled: !chkright.M_EDIT
                });
            }
            $('#bankbookcod').jqxInput({
                disabled: disabled
            });
            $("#deleteBtn").jqxButton({
                disabled: !chkright.M_DELETE
            });
        }

        var rules = [{
            input: '#bankbookcod',
            message: 'กรุณาระบุรหัสบัญชีธนาคาร!',
            action: 'keyup, blur',
            rule: 'required'
        }, {
            input: '#bankbookcod',
            message: 'ระบุรหัสบัญชีธนาคารซ้ำ!',
            action: 'keyup, blur',
            rule: function(input, commit) {
                var bankbookcod = $('#bankbookcod').val();
                if ((bankbookcod !== '') && (status === 'insert')) {
                    var result = [];
                    $.ajax({
                        async: false,
                        url: "duplicateCheck",
                        type: 'get',
                        data: {
                            table: 'BANKBOOK',
                            field: 'BANKBOOKCOD',
                            value: bankbookcod
                        },
                        success: function (data) {
                            if (data === true) {
                                result = true;
                            } else {
                                result = false;
                            }
                        },
                        error: function () {
                            result = false;
                        }
                    });
                    return result;
                } else {
                    return true;
                }
            }
        }, {
            input: '#bankcod',
            message: 'กรุณาระบุธนาคาร!',
            action: 'keyup, blur, focusout',
            rule: 'required'
        }, {
            input: '#bankcod',
            message: 'ไม่พบธนาคารนี้!',
            action: 'keyup, blur, focusout',
            rule: function(input, commit) {
                var bankcod = $('#bankcod').val();
                if (bankcod !== '') {
                    var result = [];
                    $.ajax({
                        async: false,
                        url: "duplicateCheck",
                        type: 'get',
                        data: {
                            table: 'SETBANK',
                            field: 'BANKCOD',
                            value: bankcod
                        },
                        success: function (data) {
                            if (data === true) {
                                result = false;
                            } else {
                                result = true;
                            }
                        },
                        error: function () {
                            result = false;
                        }
                    });
                    return result;
                } else {
                    return true;
                }
            }
        }, {
            input: '#bankloccod',
            message: 'กรุณาระบุสาขา!',
            action: 'keyup, blur, focusout',
            rule: 'required'
        }, {
            input: '#bankloccod',
            message: 'ไม่พบสาขานี้!',
            action: 'keyup, blur, focusout',
            rule: function(input, commit) {
                var bankloccod = $('#bankloccod').val();
                if (bankloccod !== '') {
                    var result = [];
                    $.ajax({
                        async: false,
                        url: "duplicateCheck",
                        type: 'get',
                        data: {
                            table: 'BANKLOCAT',
                            field: 'BANKLOCCOD',
                            value: bankloccod
                        },
                        success: function (data) {
                            if (data === true) {
                                result = false;
                            } else {
                                result = true;
                            }
                        },
                        error: function () {
                            result = false;
                        }
                    });
                    return result;
                } else {
                    return true;
                }
            }
        }, {
            input: '#bookno',
            message: 'กรุณาระบุเลขที่บัญชีธนาคาร!',
            action: 'keyup, blur',
            rule: 'required'
        }, {
            input: '#bookno',
            message: 'ระบุเลขที่บัญชีธนาคารซ้ำ!',
            action: 'keyup, blur',
            rule: function(input, commit) {
                var bookno = $('#bookno').val();
                if ((bookno !== '') && (status === 'insert')) {
                    var result = [];
                    $.ajax({
                        async: false,
                        url: "duplicateCheck",
                        type: 'get',
                        data: {
                            table: 'BANKBOOK',
                            field: 'BOOKNO',
                            value: bookno
                        },
                        success: function (data) {
                            if (data === true) {
                                result = true;
                            } else {
                                result = false;
                            }
                        },
                        error: function () {
                            result = false;
                        }
                    });
                    return result;
                } else {
                    return true;
                }
            }
        }, {
            input: '#booktypcod',
            message: 'กรุณาระบุประเภทบัญชี!',
            action: 'keyup, blur, focusout',
            rule: 'required'
        }, {
            input: '#booktypcod',
            message: 'ไม่พบประเภทบัญชีนี้!',
            action: 'keyup, blur, focusout',
            rule: function(input, commit) {
                var booktypcod = $('#booktypcod').val();
                if (booktypcod !== '') {
                    var result = [];
                    $.ajax({
                        async: false,
                        url: "duplicateCheck",
                        type: 'get',
                        data: {
                            table: 'BKBOOKTYPE',
                            field: 'BOOKTYPCOD',
                            value: booktypcod
                        },
                        success: function (data) {
                            if (data === true) {
                                result = false;
                            } else {
                                result = true;
                            }
                        },
                        error: function () {
                            result = false;
                        }
                    });
                    return result;
                } else {
                    return true;
                }
            }
        }, {
            input: '#accmstcod',
            message: 'ไม่พบรหัสบัญชีนี้!',
            action: 'keyup, blur, focusout',
            rule: function(input, commit) {
                var accmstcod = $('#accmstcod').val();
                if (accmstcod !== '') {
                    var result = [];
                    $.ajax({
                        async: false,
                        url: "duplicateCheck",
                        type: 'get',
                        data: {
                            table: 'ACCMST',
                            field: 'ACCMSTCOD',
                            value: accmstcod
                        },
                        success: function (data) {
                            if (data === true) {
                                result = false;
                            } else {
                                result = true;
                            }
                        },
                        error: function () {
                            result = false;
                        }
                    });
                    return result;
                } else {
                    return true;
                }
            }
        }];
        $('.admin-panels').adminpanel({
            grid: '.admin-grid',
            callback: function() {
                bootbox.confirm('<h3>A Custom Callback!</h3>', function() {});
            },
            onFinish: function() {
                $('.admin-panels').addClass('animated fadeIn').removeClass('fade-onload');
                demoHighCharts.init();
            },
            onSave: function() {
                $(window).trigger('resize');
            }
        });

        $("#bankcod").jqxInput({
            placeHolder: "Enter a bankbook code",
            height: 25,
            width: '100%',
            maxLength: 12
        });
        $("#bankbookcod").jqxInput({
            placeHolder: "Enter a bank branch code",
            height: 25,
            width: '100%',
            maxLength: 12
        });
        $("#bookno").jqxInput({
            placeHolder: "Enter a book no.",
            height: 25,
            width: '100%',
            maxLength: 15
        });
        $("#booknam").jqxInput({
            placeHolder: "Enter a book name",
            height: 25,
            width: '100%',
            maxLength: 60
        });
        $("#bankloccod").jqxInput({
            placeHolder: "Enter a bank code",
            height: 25,
            width: '100%',
            maxLength: 12
        });
        $("#booktypcod").jqxInput({
            placeHolder: "Enter a type book code",
            height: 25,
            width: '100%',
            maxLength: 12
        });
        $("#accmstcod").jqxInput({
            placeHolder: "Enter a acc code",
            height: 25,
            width: '100%',
            maxLength: 12
        });

        $("#newBtn").jqxButton({
            template: "info",
            width: 90
        });
        $("#saveBtn").jqxButton({
            template: "primary",
            width: 90,
            disabled: !chkright.M_INSERT
        });
        $("#searchBtn").jqxButton({
            template: "success",
            width: 90
        });
        $("#deleteBtn").jqxButton({
            disabled: true,
            template: "danger",
            width: 90
        });

        $('#fmBankbook').jqxValidator({
            hintType: 'label',
            animationDuration: 0,
            closeOnClick: false,
            rules: rules
        });
        //เริ่มใหม่
        $('#newBtn').off().on('click', function() {
            loadHTML("set_bankbook");
        });
        //บันทึก
        $('#saveBtn').off().on('click', function() {
            $('#fmBankbook').jqxValidator('validate', function(result) {
                if (result) {
                    $.when($.confirmdlg('ต้องการบันทึกข้อมูล?', 'info')).then(function() {
                        var valueJSON = [{
                            status: status,
                            table: 'BANKBOOK',
                            field: 'BANKBOOKCOD',
                            key: $('#bankbookcod').val(),
                            value: [{
                                BANKCOD: $('#bankcod').val(),
                                BANKBOOKCOD: $('#bankbookcod').val(),
                                BOOKNO: $('#bookno').val(),
                                BOOKNAM: $('#booknam').val(),
                                BANKLOCCOD: $('#bankloccod').val(),
                                BOOKTYPCOD: $('#booktypcod').val(),
                                ACCMSTCOD: $('#accmstcod').val()
                            }]
                        }];
                        //valueJSON.push();
                        // Convert Value To JSON String
                        var value = JSON.stringify(valueJSON);
                        $('#ok').click(function(event) {
                            $.ajax({
                                url: 'saveOne',
                                type: 'POST',
                                contentType: "application/json",
                                dataType: "json",
                                data: value,
                                success: function(data) {
                                    if (data === true) {
                                        ShowMessage("บันทึกข้อมูลเรียบร้อย!", "success");
                                        statusChange(false);
                                    } else {
                                        ShowMessage("บันทึกไม่สำเร็จ!", "danger");
                                    }
                                }
                            });
                        });
                    });
                }
            });
        });
        //ค้นหา
        $('#searchBtn').off().on('click', function() {
            //Show Dialog Search
            searchAll('bankbook', 'bankbookcod');
            $('#okButton').on('click', function() {
                statusChange(true);
                $('#fmBankbook').jqxValidator('hide');
                $.ajax({
                    async: false,
                    method: 'GET',
                    dataType: 'json',
                    url: "sqltext",
                    data: {
                        sql: "SELECT * FROM BANKBOOK WHERE BANKBOOKCOD = '" + $('#bankbookcod').val() + "' "
                    },
                    success: function(data) {
                        $('#bankcod').val(data[0].BANKCOD);
                        $('#bookno').val(data[0].BOOKNO);
                        $('#booknam').val(data[0].BOOKNAM);
                        $('#bankloccod').val(data[0].BANKLOCCOD);
                        $('#accmstcod').val(data[0].ACCMSTCOD);
                        $('#booktypcod').val(data[0].BOOKTYPCOD);
                    }
                });
            });
        });
        //ค้นหา ธนาคาร
        $('#searchBankcod').off().on('click', function() {
            //Show Dialog Search
            searchAll('setbank', 'bankcod');
        });
        //ค้นหา สาขา
        $('#searchBankloccod').off().on('click', function() {
            //Show Dialog Search
            searchAll('banklocat', 'bankloccod');
        });
        //ค้นหา ประเภทบัญชี
        $('#searchBkbooktyp').off().on('click', function() {
            //Show Dialog Search
            searchAll('bkbooktyp', 'booktypcod');
        });
        //ค้นหา รหัสบัญชี
        $('#searchAccmst').off().on('click', function() {
            //Show Dialog Search
            searchAll('accmst', 'accmstcod');
        });
        //ลบ
        $('#deleteBtn').off().on('click', function() {
            $.when($.confirmdlg('ต้องการลบข้อมูล?', 'warning')).then(function() {
                $('#ok').click(function(event) {
                    var valueJSON = [{
                        table: 'BANKBOOK',
                        field: 'BANKBOOKCOD',
                        key: $('#bankbookcod').val(),
                    }];
                    // Convert Value To JSON String
                    var value = JSON.stringify(valueJSON);
                    $.ajax({
                        async: false,
                        method: 'POST',
                        dataType: 'json',
                        url: "delete",
                        data: value,
                        success: function(data) {
                            if (data === true) {
                                ShowMessage("ลบข้อมูลเรียบร้อย!", "success");
                                statusChange(false);
                            }
                        },
                        error: function(xhr, status, error) {
                            ShowMessage("ลบข้อมูลไม่สำเร็จ! ", "danger");
                        }
                    });
                });
            });
        });
    });
</script>